---
---

@import "{{ site.theme }}";


$primary-color: #3498db;
$secondary-color: #2ecc71;
$body-font: 'Arial', sans-serif;

// Global styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $body-font;
}

body {
  background-color: #f8f9fa; // Light gray background
  color: #333; // Text color
  line-height: 1.6;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Header styles
.header {
  background-color: $primary-color;
  color: #fff;
  padding: 20px;
  text-align: center;
  h1 {
    margin: 0;
  }
}

// Footer styles
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

// Navigation styles
.navbar {
  background-color: $secondary-color;
  color: #fff;
  padding: 10px 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Main content area styles
.main-content {
  padding: 20px;
}
